.rangeslider,
.rangeslider__fill {
  display: block;
  border-radius: 10px;
}

.rangeslider {
  background: rgba(255, 255, 255, 0.7);
  position: relative;
}

.rangeslider--horizontal {
  height: 6px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
  width: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  position: absolute;
}

.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: #42A9ED;
  border: 3px solid #286690;
  cursor: pointer;
  width: 23px;
  height: 23px;
  position: absolute;
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  -o-transition: 0.3s transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
  border-radius: 50%;
}

.rangeslider__handle:active,
.rangeslider--active .rangeslider__handle {
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  -o-transition: 0.3s transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  margin-left: -1px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}